<!DOCTYPE html>
<html>
  <%- include("../header.ejs") %>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>メンテナンス</h1>
          <p>現在メンテナンス中です。</p>
        </div>
      </div>
    </div>
  </body>
</html>
