<!DOCTYPE html>
<html>
  <%- include("../header.ejs") %>
  <body>
    <%- include("../commons/navbar.ejs") %>
    <!-- 完了しました -->
    <h2>お問い合わせが完了しました。</h2>
    <br>
    <p>お問い合わせから返事までに半日から1日以上かかる恐れがあります。</p>
    <p>お急ぎの場合は、お手数ですがお電話にてお問い合わせください。</p>
    <p>TEL: 03-1234-5678</p>
    <br>
    <a href="/home">トップページへ戻る</a>
  </body>
</html>
