<!DOCTYPE html>
<html>
  <%- include("../header.ejs") %>
  <body>
    <%- include("../commons/navbar.ejs") %>
    <!-- 完了しました -->
    <h2>新規登録が完了しました。</h2>
    <br>
    <a href="/users/signin">ログイン画面に戻る</a>
  </body>
</html>
