<!DOCTYPE html>
<html>
  <%- include("../header.ejs") %>
  <body>
    <%- include("../commons/navbar.ejs") %>
    <!-- サインアウトしました -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>サインアウトしました</h2>
          <a href="/users/signin">サインイン</a>
        </div>
      </div>
    </div>
  </body>
</html>
